.value {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 70px !important;
  border-radius: 0 !important;
  &:focus {
    box-shadow: none;
  }
}

