$font-size-game-m: 25px;
$font-size-game-t: 45px;
$font-size-game-d: 65px;

.value {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: $font-size-game-m !important;
  border-radius: 0 !important;
  &:focus {
    box-shadow: none;
  }
}

@media only screen and (min-width: 768px) {
  .value {
    font-size: $font-size-game-t !important;
  }
}

@media only screen and (min-width: 1080px) {
  .value {
    font-size: $font-size-game-d !important
  }
}
