$square-m: 75px;
$square-t: 125px;
$square-d: 200px;


.content-play {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 24px;
}

main {
  display: grid;
  grid-template-columns: $square-m $square-m $square-m;
  grid-gap: 0;
  margin-top: 20px;
}

app-square {
  border: 1px gray solid;
  height: $square-m
}


@media only screen and (min-width: 768px) {
  main {
    grid-template-columns: $square-t $square-t $square-t;
  }

  app-square {
    height: $square-t
  }
}


@media only screen and (min-width: 1080px) {
  main {
    grid-template-columns: $square-d $square-d $square-d;
  }

  app-square {
    height: $square-d
  }

}
