<nb-layout>

  <nb-layout-header fixed>
    <div class="nav">
      <h1>Tic Tac Toe</h1>
      <app-install-btn></app-install-btn>
    </div>
  </nb-layout-header>

  <nb-layout-column>

    <app-board></app-board>

  </nb-layout-column>

  <nb-layout-footer fixed>
    <ul>
      <li>
        <a href="https://github.com/Paul-D-Dev/angular-pwa-tic-tac-toe" target="/blank">GitHub</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/pauldaodev/" target="/blank">Linkedin</a>
      </li>
    </ul>
  </nb-layout-footer>

</nb-layout>


<router-outlet></router-outlet>
