@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */

$square-m: 75px;
$square-t: 125px;
$square-d: 200px;

$font-size-game-m: 25px;
$font-size-game-t: 45px;
$font-size-game-d: 65px;

a {
  text-decoration: none;
}
